In [22]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings('ignore')

In [2]:
target = pd.read_csv('files_for_lab/target.csv')
cat = pd.read_csv('files_for_lab/categorical.csv')
num = pd.read_csv('files_for_lab/numerical.csv')

In [3]:
target

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

In [4]:
cat

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3

In [5]:
num

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,25.0,25.0,25.0,9,25.000000,184568,0,1,12
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,20.0,20.0,20.0,9,20.000000,122706,1,1,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,4,3.0,10.0,10.0,3,8.285714,189641,1,3,34
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.0,21.0,18.0,4,12.146341,4693,1,4,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,11,10.0,201.0,100.0,6,96.794872,185114,1,1,12

In [6]:
cat.columns

Index(['STATE', 'CLUSTER', 'HOMEOWNR', 'GENDER', 'DATASRCE', 'RFA_2R',
       'RFA_2A', 'GEOCODE2', 'DOMAIN_A', 'DOMAIN_B', 'ODATEW_YR', 'ODATEW_MM',
       'DOB_YR', 'DOB_MM', 'MINRDATE_YR', 'MINRDATE_MM', 'MAXRDATE_YR',
       'MAXRDATE_MM', 'LASTDATE_YR', 'LASTDATE_MM', 'FIRSTDATE_YR',
       'FIRSTDATE_MM'],
      dtype='object')

In [7]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         95412 non-null  object
 1   CLUSTER       95412 non-null  int64
 2   HOMEOWNR      95412 non-null  object
 3   GENDER        95412 non-null  object
 4   DATASRCE      95412 non-null  int64
 5   RFA_2R        95412 non-null  object
 6   RFA_2A        95412 non-null  object
 7   GEOCODE2      95412 non-null  object
 8   DOMAIN_A      95412 non-null  object
 9   DOMAIN_B      95412 non-null  int64
 10  ODATEW_YR     95412 non-null  int64
 11  ODATEW_MM     95412 non-null  int64
 12  DOB_YR        95412 non-null  int64
 13  DOB_MM        95412 non-null  int64
 14  MINRDATE_YR   95412 non-null  int64
 15  MINRDATE_MM   95412 non-null  int64
 16  MAXRDATE_YR   95412 non-null  int64
 17  MAXRDATE_MM   95412 non-null  int64
 18  LASTDATE_YR   95412 non-null  int64
 19  LASTDATE_MM   95412 non-null  int64
 20  FIRSTDATE_YR  95412 non-null  int64
 21  FIRSTDATE_MM  95412 non-null  int64
dtypes: int64(15), object(7)
memory usage: 16.0+ MB

In [8]:
num.columns

Index(['TCODE', 'AGE', 'INCOME', 'WEALTH1', 'HIT', 'MALEMILI', 'MALEVET',
       'VIETVETS', 'WWIIVETS', 'LOCALGOV',
       ...
       'CARDGIFT', 'MINRAMNT', 'MAXRAMNT', 'LASTGIFT', 'TIMELAG', 'AVGGIFT',
       'CONTROLN', 'HPHONE_D', 'RFA_2F', 'CLUSTER2'],
      dtype='object', length=315)

In [9]:
num.isna().sum()

TCODE       0
AGE         0
INCOME      0
WEALTH1     0
HIT         0
           ..
AVGGIFT     0
CONTROLN    0
HPHONE_D    0
RFA_2F      0
CLUSTER2    0
Length: 315, dtype: int64

In [10]:
cat = pd.get_dummies(cat, columns=cat.columns, drop_first=True)

In [12]:
# Join the cat & num dataframes
X = pd.concat([num, cat], axis=1)

In [13]:
y_regression = target['TARGET_D']
y_classification = target['TARGET_B']

In [14]:
# Train-test split for the classification model
X_train, X_test, y_ctrain, y_ctest = train_test_split(X, y_classification, test_size=0.3, random_state=42)

In [15]:
# Oversampling using SMOTE
X_sm, y_csm = SMOTE().fit_resample(X_train, y_ctrain)

In [18]:
# Apply the Random Forests algorithm
model = RandomForestClassifier(max_depth=10, n_estimators=100, random_state=42)
model.fit(X_sm, y_csm)

RandomForestClassifier(max_depth=10, random_state=42)

In [19]:
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)[:, 1]

In [21]:
model.score(X_test, y_ctest)

0.9404346003353828

In [23]:
print(classification_report(y_ctest, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     27200
           1       0.09      0.02      0.04      1424

    accuracy                           0.94     28624
   macro avg       0.52      0.51      0.50     28624
weighted avg       0.91      0.94      0.92     28624

In [24]:
# Train-test split for the regression model
X_train, X_test, y_rtrain, y_rtest = train_test_split(X, y_regression, test_size=0.3, random_state=42)

In [25]:
# Oversampling using SMOTE
X_sm, y_rsm = SMOTE().fit_resample(X_train, y_ctrain)

In [26]:
# Apply the Random Forests algorithm
model = RandomForestClassifier(max_depth=10, n_estimators=100, random_state=42)
model.fit(X_sm, y_rsm)

RandomForestClassifier(max_depth=10, random_state=42)

In [27]:
y_pred = model.predict(X_test)
print(classification_report(y_ctest, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     27200
           1       0.08      0.02      0.03      1424

    accuracy                           0.94     28624
   macro avg       0.51      0.50      0.50     28624
weighted avg       0.91      0.94      0.92     28624